version: "3.9"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    volumes:
    - kafka-data:/var/lib/kafka/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"


  order-service:
    build: ./order-service
    depends_on:
      - kafka
      - postgres
      - redis
    ports:
      - "8081:8080"

  inventory-service:
    build: ./inventory-service
    depends_on:
      - kafka
      - postgres
      - redis
    ports:
      - "8082:8080"
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

  payment-service:
    build: ./payment-service
    depends_on:
      - kafka
    ports:
      - "8083:8080"

  notification-service:
    build: ./notification-service
    depends_on:
      - kafka
    ports:
      - "8084:8080"

volumes:
  kafka-data:
