server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/inventorydb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: kafka:9092

  redis:
    host: redis
    port: 6379
    timeout: 2000
